spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/customer/**
#            - Path=/seller/**
          filter:
            - RewritePath=/customer(?<segment>/?.*), $\{segment}
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/seller/**
          filter:
            - RewritePath=/seller(?<segment>/?.*), $\{segment}
        - id: auth-service
          uri: lb://AUTHENTICATION-SERVICE
          predicates:
            - Path=/auth/**
        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/product/**
        - id: feedback-service
          uri: lb://FEEDBACK-SERVICE
          predicates:
            - Path=/feedback/**


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    instance:
      hostname: localhost

server:
  port: 8080
