spring:
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            exposedHeaders: "*"
      routes:
        - id: user-service
          uri: http://localhost:8091
          predicates:
            - Path=/customer/**
#            - Path=/seller/**
#           filter:
#             - RewritePath=/customer(?<segment>/?.*), $\{segment}
        - id: user-service
          uri: http://localhost:8091
          predicates:
            - Path=/seller/**
#           filter:
#             - RewritePath=/seller(?<segment>/?.*), $\{segment}
        - id: auth-service
          uri: http://localhost:8092
          predicates:
            - Path=/auth/**
        - id: product-service
          uri: http://localhost:8093
          predicates:
            - Path=/product/**
        - id: feedback-service
          uri: http://localhost:8096
          predicates:
            - Path=/feedback/**


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    instance:
      hostname: localhost

server:
  port: 8080
