spring:
  main: 
    web-application-type: reactive
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            exposedHeaders: "*"
      routes:
        - id: user-service
          uri: http://localhost:8091
          predicates:
            - Path=/customer/**
          filter:
            - RewritePath=/customer(?<segment>/?.*), $\{segment}

        - id: authentication-service
          uri: http://localhost:8092
          predicates:
            - Path= /auth/**
          filter:
            - RewritePath=/auth(?<segment>/?.*), $\{segment}

        - id: product-service
          uri: http://localhost:8093
          predicates:
            - Path=/product/**
          filter:
            - RewritePath=/product(?<segment>/?.*), $\{segment}

        - id: feedback-service
          uri: http://localhost:8096
          predicates:
            - Path=/feedback/**
          filter:
            - RewritePath=/feedback(?<segment>/?.*), $\{segment}


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    instance:
      hostname: localhost

server:
  port: 8080
